.Container {
    width: 50%;
    height: 80%;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); 
    overflow: scroll;
    margin: auto;
    border-radius: 10px;
}

.FilterSearchContainer {
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-flow: column;
}

.InputStyle {
    display: flex;
}